Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Path conditions:
  backfill-redis-on-pull-request: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-pull-request: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)

chore: bump hashicorp/vault to 1.22
  go.mod
  go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore: bump hashicorp/vault to 1.22 (#514)
  go.mod
  go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 61d5ad47504 to 2fe691b4392
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

feat: build multi platform container images for rekor-cli
  .tekton/rekor-cli-clients-pull-request.yaml
  .tekton/rekor-cli-clients-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  Dockerfile.rekor-cli-clients.rh
  Dockerfile.rekor-cli.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 61d5ad47504 to 80f3902b6dc
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

(fix): run fo mod tidy to fix dependency issues
  go.mod
  go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

(fix): go mod tidy to fix hack tools dependency issues
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

(deps): bump vulnerable package version
  go.mod
  go.sum
  hack/tools/go.mod
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

add bind mounts
  .github/workflows/validate-release.yml
Due: none

free up disk space for 'Test Harness' job
  .github/workflows/main.yml
Due: none

also free up space during release test
  .github/workflows/validate-release.yml
Due: none

(fix): hack tools go.mod
  hack/tools/go.mod
Due: none

go mod tidy
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

(fix): sync go version
  go.mod
  hack/tools/go.mod
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

(fix): go toolchain update
  Makefile
  tests/rekor-harness.sh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

feat: add checkpointing into the backfill so we can resume from the last completed, contiguous index
  cmd/backfill-index/main.go
  tests/backfill-test.sh
Due: none

(fix): go toolchain update to auto
  .github/workflows/main.yml
  Makefile
  tests/rekor-harness.sh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

bug: fix workflow disk space issues, only build the current platform, and prune docker volumes between the harness tests.
  .github/workflows/validate-release.yml
  .goreleaser.ci.yml
  release/release.mk
  tests/rekor-harness.sh
Due: none

(fix): harness tests after tags update
  hack/tools/go.mod
Due: none

(fix): harness test script after tags update
  tests/rekor-harness.sh
Due: none

(fix): bump vulnereble versions + tidy
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Red Hat Konflux purge rekor-cli
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
Due: rekor-cli-on-pull-request, rekor-cli-on-push

Red Hat Konflux update rekor-cli
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
Due: rekor-cli-on-pull-request, rekor-cli-on-push

Red Hat Konflux update rekor-cli-v1-3
  .tekton/rekor-cli-v1-3-pull-request.yaml
  .tekton/rekor-cli-v1-3-push.yaml
Due: none

Red Hat Konflux update rekor-cli-v1-2
  .tekton/rekor-cli-v1-2-pull-request.yaml
  .tekton/rekor-cli-v1-2-push.yaml
Due: none

Components versions updated in tekton pipelines for 1.3
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Components versions updated in tekton pipelines for 1.2
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 6fc28bcb677 to 80f3902b6dc
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Components versions updated in tekton pipelines for main
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore: bump builder images
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Red Hat Konflux purge rekor-server
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: rekor-server-on-push

Red Hat Konflux purge backfill-redis
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push

Red Hat Konflux update backfill-redis
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push
