Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

backfill-redis-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-pull-request:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-server:on-pr-{{revision}}
  - name: path-context
    value: .
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

chore: fix rekor-cli builds
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  Dockerfile.cli-stack.rh
Due: rekor-cli-on-push

chore: enable cross-platform image support in Tekton pipelines
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

fix: fix stale cli build
  Build.mak
Due: rekor-cli-on-push

feat: allow Ed25519
  pkg/api/api.go
  pkg/pki/factory.go
  pkg/pki/pkitypes/types.go
  pkg/pki/tuf/tuf.go
Due: none

fix: move FIPS godebug directive from go.mod to Red Hat Dockerfiles
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/validate-release.yml
  .github/workflows/verify.yml
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  go.mod
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

alpine: Enforce max size limit on decompression (#2831)
  pkg/types/alpine/apk.go
  pkg/types/alpine/apk_test.go
Due: none

chore(deps): bump golang.org/x/ dependencies to latest
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): bump all safe dependencies to latest
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore: enable native go FIPS
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/validate-release.yml
  .github/workflows/verify.yml
  Build.mak
  pkg/pki/ssh/ssh.go
Due: rekor-cli-on-push

Revert "chore: enable native go FIPS"
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/validate-release.yml
  .github/workflows/verify.yml
  Build.mak
  pkg/pki/ssh/ssh.go
Due: rekor-cli-on-push

ci: update golang-cross to v1.26.3 in validate-release workflow
  .github/workflows/validate-release.yml
Due: none

alpine: Enforce max size limit on decompression (#2831)
  .github/workflows/validate-release.yml
  pkg/types/alpine/apk.go
  pkg/types/alpine/apk_test.go
Due: none

ci: update cosign image to v3.0.6-dev for signature verification
  .github/workflows/validate-release.yml
Due: none

Update rekor-cli-stack digests from Wave 1 builds
  Dockerfile.cli-stack.rh
Due: none

feat: add OpenTelemetry tracing support
  cmd/rekor-server/app/root.go
  cmd/rekor-server/app/serve.go
  go.mod
  go.sum
  pkg/generated/restapi/configure_rekor_server.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update release-version from 1.4.0 to 1.5.0
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 062c52ff973 to 5a68031c6c8
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Removing Extra ALLOW_CROSS_PLATFORM_IMAGES
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

Release version updated to 1.4.3
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update rekor-cli cli-stack image digests from Wave 1 builds 2026-07-29
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30
  Dockerfile.cli-stack.rh
Due: none

build: enable hermetic builds for rekor cli-stack
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

Adding release version tag
  .tekton/rekor-cli-stack-push.yaml
Due: none

Fix cli-stack hermetic build by prefetching hack/tools dependencies
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

Version added to pull request
  .tekton/rekor-cli-stack-pull-request.yaml
Due: none

Update release-version to 1.3.7
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update Dockerfile.rekor-server.rh
  Dockerfile.rekor-server.rh
Due: rekor-server-on-pull-request, rekor-server-on-push

Update Go version to 1.26 to support fips140.WithoutEnforcement
  go.mod
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5379: add explicit workflow permissions
  .github/workflows/cronjobs.yaml
  .github/workflows/trigger-konflux-build.yaml
Due: none

bug: fix workflow disk space issues, only build the current platform, and prune docker volumes between the harness tests.
  .github/workflows/validate-release.yml
  .goreleaser.ci.yml
  release/release.mk
  tests/rekor-harness.sh
Due: none

feat: add checkpointing into the backfill so we can resume from the last completed, contiguous index
  cmd/backfill-index/main.go
  tests/backfill-test.sh
Due: none

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/sync-upstream.yaml
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7fbeae18dc9 to 55443bd3d92
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update docker images
  Dockerfile
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update docker images
  Dockerfile
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Path conditions:
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-pull-request: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
