Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

backfill-redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
  ...

backfill-redis-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
  ...

rekor-cli-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-cli:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Red Hat Konflux update rekor-server
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: rekor-server-on-push

Red Hat Konflux update backfill-redis-v1-2
  .tekton/backfill-redis-v1-2-pull-request.yaml
  .tekton/backfill-redis-v1-2-push.yaml
Due: none

Red Hat Konflux update rekor-server-v1-2
  .tekton/rekor-server-v1-2-pull-request.yaml
  .tekton/rekor-server-v1-2-push.yaml
Due: none

Red Hat Konflux update backfill-redis-v1-3
  .tekton/backfill-redis-v1-3-pull-request.yaml
  .tekton/backfill-redis-v1-3-push.yaml
Due: none

Red Hat Konflux update rekor-server-v1-3
  .tekton/rekor-server-v1-3-pull-request.yaml
  .tekton/rekor-server-v1-3-push.yaml
Due: none

Updating time stamp file
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updated Timestamp file
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2026-01-23,08-26-00.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updating Time file
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updating Timestamp file
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore: add release-version param
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updating Redis Image
  Dockerfile.backfill-redis.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push

chore: update builder images
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 90bd85dcd06 to 3aea404f9e7
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Retrigger Build
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Triggering 1.2 build and updating test
  .github/workflows/verify.yml
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2026-02-04,16-27-05.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 90bd85dcd06 to 42c0bdc0534
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore: update nudge regexp
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-server-on-push

Update rekor-cli-push.yaml
  .tekton/rekor-cli-push.yaml
Due: rekor-cli-on-push

Updating Docker labels
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updated builder image
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updated builder image & tekton version
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Changes to tests based on upstream alterations
  pkg/generated/restapi/configure_rekor_server.go
  pkg/pki/x509/x509_test.go
Due: none

Reverting go-openapi to 23.1
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Updating go mod for tests
  .github/workflows/verify.yml
  go.mod
  go.sum
Due: backfill-redis-on-pull-request, backfill-redis-on-push, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Swapping out openshift-builder with go toolset
  Dockerfile.rekor-server.rh
Due: rekor-server-on-push

add rekor-cli stack for binary aggregation
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  Dockerfile.cli-stack.rh
Due: rekor-cli-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from c7d44146f82 to f5346fbb587
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Updating Workflow
  .github/workflows/main.yml
Due: none

Updating Dockerfiles
  Dockerfile
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: none

Adding Fixed sha for ci
  Dockerfile
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: none

Adding back AS to dockerfile
  Dockerfile.trillian-log-server
Due: none

Fixing typo in Dockerfile
  Dockerfile.trillian-log-server
Due: none

Path conditions:
  backfill-redis-on-pull-request: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-pull-request: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
