Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

backfill-redis-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-pull-request:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-server:on-pr-{{revision}}
  - name: path-context
    value: .
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Bump go-jose dependency to v4.1.4
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

test: fips example
  Dockerfile.rekor-server.rh
  cmd/rekor-server/main_fips.go
Due: rekor-server-on-pull-request, rekor-server-on-push

Updating entry.go for new v1.3 package of rpm
  pkg/types/rpm/v0.0.1/entry.go
Due: none

Red Hat Konflux update backfill-redis-v1-4
  .tekton/backfill-redis-v1-4-pull-request.yaml
  .tekton/backfill-redis-v1-4-push.yaml
Due: none

Red Hat Konflux update rekor-cli-stack-v1-4
  .tekton/rekor-cli-stack-v1-4-pull-request.yaml
  .tekton/rekor-cli-stack-v1-4-push.yaml
Due: none

Red Hat Konflux update rekor-cli-v1-4
  .tekton/rekor-cli-v1-4-pull-request.yaml
  .tekton/rekor-cli-v1-4-push.yaml
Due: none

Red Hat Konflux update rekor-server-v1-4
  .tekton/rekor-server-v1-4-pull-request.yaml
  .tekton/rekor-server-v1-4-push.yaml
Due: none

Fixing konflux pipelines
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Fix: pass app credentials directly to sync-upstream workflow
  .github/workflows/sync-upstream.yaml
Due: none

Change sync-upstream action reference to auto-resolve conflicts
  .github/workflows/sync-upstream.yaml
Due: none

build: rework cli-stack, move cross-compilation out of component image
  Build.mak
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
Due: rekor-cli-on-push

chore: enable native go FIPS
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/validate-release.yml
  .github/workflows/verify.yml
  Build.mak
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  go.mod
  pkg/pki/ssh/ssh.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

feat: create fips safe build
  cmd/rekor-cli/app/log_info.go
  cmd/rekor-cli/app/search.go
  cmd/rekor-server/app/serve.go
  pkg/api/api.go
  pkg/pki/factory.go
  pkg/pki/pkcs7/pkcs7.go
  pkg/pki/pkitypes/types.go
  pkg/pki/tuf/tuf.go
  pkg/pki/x509/x509.go
  pkg/types/alpine/alpine.go
  pkg/types/alpine/v0.0.1/entry.go
  pkg/types/helm/helm.go
  pkg/types/helm/v0.0.1/entry.go
  pkg/types/rekord/v0.0.1/entry.go
  pkg/types/rpm/rpm.go
  pkg/types/rpm/v0.0.1/entry.go
  pkg/util/signed_note.go
Due: none

fix: cve-2026-39829, upgrade golang.org/x/crypto
  .github/workflows/verify.yml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: cve-2026-39829, upgrade golang.org/x/crypto
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

update golangci-lint to latest
  .github/workflows/verify.yml
  go.mod
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix lint
  .github/workflows/verify.yml
  go.mod
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix lint
  .golangci.yml
Due: none

fix
  .github/workflows/verify.yml
  .golangci.yml
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix
  .golangci.yml
Due: none

fix: cve-2026-39829, upgrade golang.org/x/crypto (#637)
  .github/workflows/verify.yml
  .golangci.yml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Merge pull request #636 from securesign/CVE-2026-39829
  .github/workflows/verify.yml
  .golangci.yml
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: use multi-arch manifest digest for go-toolset base image
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

build: add prefetch-input for gomod in cli-stack push pipeline
  .tekton/rekor-cli-stack-push.yaml
Due: none

fix: prevent attestation storage panic under FIPS 140-only mode
  pkg/storage/storage.go
Due: none

Update release-version to 1.4.2
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 83006d53592 to 8201445bebc
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update cli-stack with platform-specific digests
  Dockerfile.cli-stack.rh
Due: none

Updating cli-stack to not us mod vendor
  Dockerfile.cli-stack.rh
Due: none

Remove prefetch
  .tekton/rekor-cli-stack-push.yaml
Due: none

Rekor-cli-stack versions
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
Due: none

Updating cli-stack images
  Dockerfile.cli-stack.rh
Due: none

Update release-version to 1.3.6 in Tekton pipelines
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: default rekor-cli PKI format to x509 under FIPS 140 mode
  cmd/rekor-cli/app/pflags.go
Due: none

Path conditions:
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-pull-request: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
