Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

backfill-redis-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-pull-request:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-server:on-pr-{{revision}}
  - name: path-context
    value: .
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

Updating major deps
  go.mod
  go.sum
  pkg/types/rpm/v0.0.1/entry.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

ci: downgrade intoto
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

update golang builder to use go1.25.7 (#2702)
  .github/workflows/validate-release.yml
  release/cloudbuild.yaml
Due: none

Updated go to 1.25
  Dockerfile
Due: none

Updated grpc to 1.79.3
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Updated golang cross image
  .github/workflows/validate-release.yml
Due: none

Updated iamges
  .github/workflows/validate-release.yml
  Dockerfile.rekor-server.rh
Due: rekor-server-on-pull-request, rekor-server-on-push

fixed formmating
  cmd/rekor-server/e2e_test.go
  pkg/generated/restapi/configure_rekor_server.go
Due: none

Fix context memory leak in API package
  pkg/api/api.go
Due: none

Update google pubsub
  go.mod
  go.sum
  pkg/pubsub/gcp/publisher.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

feat: Support publishing new log entries to Pub/Sub topics (#1580)
  Dockerfile.pubsub-emulator
  cmd/rekor-server/app/root.go
  cmd/rekor-server/app/serve.go
  docker-compose.test.yml
  docker-compose.yml
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/entries.go
  pkg/api/metrics.go
  pkg/events/events.go
  pkg/pubsub/gcp/publisher.go
  tests/e2e-test.sh
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: Do not check for pubsub.topics.get on initialization (#1853)
  pkg/pubsub/gcp/publisher.go
Due: none

run git mod tidy
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update grpc to 1.79.3
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update openttelemetry to 1.40.0
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

test
  pkg/generated/restapi/configure_rekor_server.go
Due: none

change rsa key size to 1024
  pkg/pki/x509/x509_test.go
Due: none

Change string to non constant format
  tests/e2e_test.go
Due: none

Change string to non constant format
  cmd/rekor-server/e2e_test.go
Due: none

Change string to non constant format
  pkg/types/dsse/v0.0.1/e2e_test.go
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 83006d53592 to f5346fbb587
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 83006d53592 to 5c8d55e845e
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Updating go mod for tests
  .github/workflows/verify.yml
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fixed formmating
  pkg/generated/restapi/configure_rekor_server.go
Due: none

Changes to tests based on upstream alterations
  pkg/generated/restapi/configure_rekor_server.go
Due: none

Reverting go-openapi to 23.1
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Update Tekton pipelines for release-1.4 branch
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update release version to 1.4.1
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 83006d53592 to 3868cb76402
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Updating version tag
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Path conditions:
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-pull-request: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
