Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

backfill-redis-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-pull-request:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-server:on-pr-{{revision}}
  - name: path-context
    value: .
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

chore(deps): update go dependencies
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/fuzz/jar_utils.go
  pkg/pki/tuf/tuf.go
  pkg/pki/tuf/tuf_e2e_test.go
  pkg/pki/tuf/tuf_test.go
  pkg/pubsub/gcp/publisher.go
  pkg/sharding/ranges_test.go
  pkg/signer/signer.go
  pkg/signer/tink.go
  pkg/types/tuf/v0.0.1/entry.go
  pkg/types/tuf/v0.0.1/entry_test.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update go dependencies
  go.mod
  hack/tools/go.mod
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update go dependencies
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5492 bump golang.org/x/crypto to v0.56.0
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5500 bump golang.org/x/crypto to v0.56.0
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: include internal packages in rekor-server image build
  Dockerfile.rekor-server.rh
Due: rekor-server-on-pull-request, rekor-server-on-push

fix(tests): pin backfill-test.sh Scenario 5 uploads to --type=rekord
  tests/backfill-test.sh
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7fbeae18dc9 to b061cda54b6
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5492 fix Go 1.26 lint failures
  pkg/pki/ssh/ssh.go
  pkg/pubsub/gcp/publisher.go
  pkg/witness/publish_checkpoint_test.go
Due: none

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7fbeae18dc9 to ba02b818ce3
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Update release-version to 1.3.8
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7fbeae18dc9 to f5984079c02
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update golang:1.27.1 docker digest to 1cfcdb1
  Dockerfile
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: none

chore(deps): update docker images
  Dockerfile
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7b8e25a1b56 to 9c6d058e39c
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix(lint): update docker images for Go 1.27
  .golangci.yml
  Dockerfile
  Dockerfile.backfill-redis.rh
  Dockerfile.cli-stack.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  Dockerfile.trillian-log-server
  Dockerfile.trillian-log-signer
  pkg/pki/ssh/ssh.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7b8e25a1b56 to eba570d0419
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5687 bump gRPC to v1.82.2
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5500 scope legacy in_toto lint exclusion
  .golangci.yml
Due: none

SECURESIGN-5687 update gRPC to v1.83.1
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

SECURESIGN-5687 update gRPC to v1.83.2
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

fix: SECURESIGN-5864 update grpc to 1.83.2
  go.mod
  go.sum
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore: update release version to 1.4.4
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-cli-stack-pull-request.yaml
  .tekton/rekor-cli-stack-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7b8e25a1b56 to 68b92732acc
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

chore(deps): update go dependencies
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/pki/tuf/tuf.go
  pkg/pki/tuf/tuf_e2e_test.go
  pkg/pki/tuf/tuf_test.go
  pkg/pubsub/gcp/publisher.go
  pkg/types/tuf/v0.0.1/entry.go
  pkg/types/tuf/v0.0.1/entry_test.go
Due: backfill-redis-on-push, rekor-cli-on-push, rekor-server-on-pull-request, rekor-server-on-push

Path conditions:
  backfill-redis-on-push: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-pull-request: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
