Repository securesign/rekor: changes, and which Tekton pipelines are due for each by the changed paths.
All: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

backfill-redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.backfill-redis.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-backfill-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
  ...

rekor-cli-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/rekor-cli:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

rekor-cli-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-cli.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-cli:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

rekor-server-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.rekor-server.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/rekor-server:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

:robot: Updated timestamp file to 2025-08-13,13-58-36.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Update max_request_body_size default to 10MB in root.go
  cmd/rekor-server/app/root.go
Due: none

:robot: Updated timestamp file to 2025-08-15,12-15-14.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8d905a93f13 to 3660caede14
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 3660caede14
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-09-07,19-38-51.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-09-14,21-02-42.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rekor-server
  Dockerfile.rekor-server.rh
Due: rekor-server-on-push

chore(KONFLUX-6210): fix and set name and cpe label for backfill-redis
  Dockerfile.backfill-redis.rh
Due: backfill-redis-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 2f06ae0e6d3 to 870a2771409
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore(KONFLUX-6210): fix and set name and cpe label for rekor-cli
  Dockerfile.rekor-cli.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push

Removing CPE labels
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-09-24,08-42-12.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-09-25,14-53-03.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7c5495d5fad to 870a2771409
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-09-26,09-52-44.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Increasing Unit Test memory limit
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Targeting specific test step
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Adjusting limits
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Adjusting limits on remainig tekton file
  .tekton/backfill-redis-pull-request.yaml
Due: backfill-redis-on-pull-request

chore: trigger konflux builds
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

chore: trigger konflux builds (#505)
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 7c5495d5fad to d1bad2a2790
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

fix: removing root user initialization from dockerfiles
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

fix: adding /licenses dir
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
  licenses/LICENSE
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

fix: adding /licenses dir
  licenses/LICENSE
Due: none

fix: increase limits
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

fix: adding nonRootUser initialization to dockerfiles (#506)
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
  Dockerfile.backfill-redis.rh
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-10-21,08-54-31.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-10-21,13-19-15.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-10-30,12-34-01.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 34880b64c07 to d1bad2a2790
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-10-31,13-42-21.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

ci: add fips check
  .tekton/backfill-redis-pull-request.yaml
  .tekton/backfill-redis-push.yaml
  .tekton/rekor-cli-pull-request.yaml
  .tekton/rekor-cli-push.yaml
  .tekton/rekor-server-pull-request.yaml
  .tekton/rekor-server-push.yaml
  Build.mak
  Dockerfile.rekor-cli.rh
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Updated timestamp file to 2025-11-12,09-47-25.
  trigger-konflux-builds.txt
Due: backfill-redis-on-pull-request, rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 34880b64c07 to dae77d7704c
  Dockerfile.rekor-cli.rh
  Dockerfile.rekor-server.rh
Due: rekor-cli-on-pull-request, rekor-cli-on-push, rekor-server-on-push

Path conditions:
  backfill-redis-on-pull-request: (((((((any of: Dockerfile.backfill-redis.rh) or (any of: .tekton/backfill-redis-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/backfill-redis)) or (any of: pkg)) or (any of: Makefile)
  rekor-cli-on-pull-request: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-cli-on-push: ((((((((any of: Dockerfile.rekor-cli.rh) or (any of: .tekton/rekor-cli-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-cli)) or (any of: pkg)) or (any of: Makefile)) or (any of: Build.mak)
  rekor-server-on-push: (((((((any of: Dockerfile.rekor-server.rh) or (any of: .tekton/rekor-server-push.yaml)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/rekor-server)) or (any of: pkg)) or (any of: Makefile)
